body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #cab69d;  /*added*/
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* start adding code here */
/* navbar content */
.imageContainer {
  background-color: #9f8469;                      /*double check colors*/
  padding: 20px;                                    /*probably ch depending logo size*/
}
.navbar {
  position:absolute;
  font-weight: normal;
  font-size: 25px;        /*will probably change depending on logo size*/

  top: 15px;              /*will probably change depending on logo size*/
  left: 80px;             /*will probably change depending on logo size*/
}
.nav_list {
  position: absolute;
  display: inline-flex;
  list-style-type: none;
  
}
#nav_item a {
  margin: 10px 30px 10px 30px;
  color: #cab69d;
  text-decoration: none;
}
#nav_item a:hover {
  color: #a0c2b2;
  text-decoration:underline;
}
/* login formatting */
.accountContainer {
  display: inline-flex;
    position: absolute;
    right: 100px;
    top: 45px;
    margin-left: 10px;
}
.loginStat {
  border-radius: 15px;                          
  background-image: linear-gradient(#a0c2b2, white);   /*gradient up (green) down (white)*/
  padding: 5px 20px 5px 20px;
  box-shadow: none;
  width: 130px;
  color: #1e1813;
  font-weight: 700;
}
.leftButton {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right-color: #1e1813;
}
.rightButton {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left-color: #1e181300;
}
.rightButton:hover {
  cursor: pointer;
  background-image: linear-gradient(#769888, white);
}
.leftButton:hover {
  cursor: pointer;
  background-image: linear-gradient(#769888, white);
}

/* content for homepage */
.bgImgContainer {
  height: 700px;
  float: right;
  margin-top: 90px;
}
.bgImg {
  /* background-image: url("/familyTree.png"); */
  /* couldnt figure out how to add img external css, have it inline */
  /* find a way to have the image fixed in certain part of screen while not
     covering the text */
  height: 700px;
  background-repeat: no-repeat;
}
.information {
  margin:20px 50px 20px 70px;
  padding: 20px;
  /* background-color: rgba(255, 255, 255, 0.475);*/
  position: absolute;
  width: 1100px;
  border-radius: 15px;
}
.Topic {
  background-color: rgba(255, 255, 255, 0.475);
    padding: 20px 40px;
    border-radius: 15px;
    margin: 40px;
}
.subtopic {
  font-size: 25px;
}
.text {
  color: #67635e;                                 /*double check colors*/
}